*{
    padding:0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

img {
    max-width:100%;
    height: auto;
    width:100%;
}    

/*NAV*/
.hero{
    height:100vh;
    background-image: url(background-index.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    position:relative;
}

.hero-nav {
    position: fixed;
    top: 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

    
/*HAMBURGER MENU*/
.container-hamb {
    width: 7rem;
    height: 7rem;
    background-color:#8a6813;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .inner-hamb:hover {
      background-color: rgb(83,62,11);
      color: white;
      cursor:pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 2.4rem;
    height: 2px;
    background-color: white;
    margin:6px ;
    transition: 0.4s;
  }
   .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .container-hamb:hover{
    background-color: rgb(83,62,11);
    color: white;
    font-weight: bold;
  }

  /*RESERVATION BUTTON*/

  .mybtn{
    width: 14rem;
    height: 3.5rem;
    background-color: rgb(138,104,19);
    color: white;
    font-family: 'Roboto','Times New Roman';
    font-weight: bold;
    border: none;
}
.mybtn:hover{
    background-color: rgb(83,62,11);
    color: white;
    
}

/*SCROLL MENU*/
h2{
    font-size: 50px;
}
.scroll{
    font-size: 1.5rem;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0px;
    left:50%;
    padding-bottom: 2rem;
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background-color: transparent;
    border: none;

  }
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    
  }

/*BUTTON*/
.my-btn-2{
    background-color: #8a6813;
    color: white;
    font-weight: bold;
    width: 11rem;
    height: 2.5rem;
    border-style: none;
    transition: width 2s;
}
.my-btn-2:hover{
    width: 14rem;
}
/*OFF CANVAS*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8a6813;
    color:#8a6813;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;    
    font-size: 25px;
    color:white;
    display: block;
    
  }

  .open{
      height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8a6813;
    color:white;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }
  .open a {
    padding: 8px 8px 8px 32px;    
    font-size: 25px;
    color:white;
    display: block;
    
  }
  .addNavbar{
      margin-left: 250px;
      padding: 0px;;

  }
    
  #main {
    transition: margin-left 1s;
    
    
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


/*RESTAURANT CONTAINER*/

.restaurant>.grid-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 0.5rem;
}

.grid-item-right{
    display:grid;
    grid-template-rows: 1fr 2fr 1fr;;
}
.basil{
    width: 400px;
    height:550px;
    
}
.basil:hover{
        transform: scale(1.05);
        transform: rotate(3deg);
        transition: 0.5s ;
}
.grid-item-left{
    justify-self: end;
    
}
.grid-item-right{
    justify-self: center;
    align-items: center;
}

/*DIRTY CONTAINER*/
.grid-container-dirty{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    background-color: #f2f1e7;
}
.grid-item-left-dirty{
    justify-self: end;
    align-self: center;
    padding:3rem;
    background-color: white;
    z-index:1;
    margin:-130px
    
}
.farfalle{
    width:850px;
    padding: 3rem;
}
    .farfalle:hover {
        transform: scale(1.05);
        transform: rotate(3deg);
        transition: 0.5s ;
    }

/*LOUNGE*/
.grid-container-lounge{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0.5rem;
    background-image: url(restaurant-box.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 70vh;  
}
.grid-item-left-lounge{
    background-color: white;
    align-self: center;
    justify-self: end;
    padding:80px;    
}
/*TEAM*/
.grid-container-team{
    margin-top: 4rem;;
    display: grid;
    grid-template-columns: 15% repeat(3,25%) 15%; 
    grid-gap:0.5rem;
    min-height: 20rem;
}

.teampicture,.pancakes{
    width:100%;
    height:100%;
}
.grid-item-left-team,
.right-item-team{
    width: 100%;
    height: 100%;
    background-color:  #f2f1e7 ;
    text-align: center;
}
.leftdo-item-team{
    height:50%;
}
.leftdo-item-team,
.right-item-team{
    display: grid;
    align-content: space-evenly;
}

.leftdo-item-team:hover,
.right-item-team:hover{
    background-color:#8a6813;
    color: white;
}
/*FOOTER*/
.footer{
    margin-top:3rem;
    background-color: #8a6813;
    color:white;
    min-height: 15rem;
}

.grid-container-footer{
    display: grid;
    grid-template-columns: 25% 30% 45%;
    justify-items: center;
    align-items: center;
}
.grid-item-address{
    padding:10px 0 10px 0;
}

.grid-item-center-link>a{
    padding:1rem;
    color:white;
    text-decoration: none;
}
.grid-item-right-newsletter>.my-btn-2{
    border: none;
    background-color: #8a6813;
    font-weight: bold;
    
}
.grid-item-right-newsletter>input{
    background-color:#8a6813 ;
    border:none;
    border-bottom: 2px solid white;
    color:#ab9356;
    height: 2rem;

}
::placeholder{
    color:#ab9356;
    
}

.social{
    background-color: #6e530f;
    height: 4rem;
    padding-left: 12rem;
}
.social>a{
    padding: .5rem;
}
.mybtn2{
    background-color: transparent;
    border: none;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 918px) {

.restaurant>.grid-container{
display: grid;
grid-template-columns: 1fr;
grid-gap: 0.5rem;
}
.grid-item-right{
    display:grid;
    grid-template-rows: 1fr;;
}
.restaurant-last{
    margin-bottom: 150px;
}
.grid-item-left-dirty{
    margin:0;
   
}

.grid-container-dirty{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 0.5rem;
    background-color: #f2f1e7;
}
.grid-container-lounge{ 
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap:0.5rem;
    background-image: url(restaurant-box.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 70vh;  
}
.grid-container-team{
    margin-top: 4rem;;
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap:0.5rem;
    min-height: 20rem;
}
.leftdo-item-team>span{
    margin-bottom: 80px;
}
.grid-container-footer{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    
}
.about--text{
    margin: -50px -80px;
}
.location{
    margin-right:-120px;
}
/*MEDIA END*/
}
/* ABOUT PAGE*/
.hero-about{
    height:40vh;
    background-image: url(whatsnew-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    position:relative;
}
.about--text{
    position: absolute;
    top:11rem;
    left: 40%;
    width: 250px;
    height: 100px;
    background-color: white;
}
.about--text>h1{
    font-size: 60px;
    text-align: center;
    margin:10px 0px 0px 0px;
    font-weight: bold
    ;
    
}
/*ABOUT PAGE */

.about-img{
    width: 756px;
}

.about--us{
    background-color: #f0f0f0;
}
/*WHERE page*/

.hero-where{
    background-color: black;
    height: 26rem;
}
/*CONTACT PAGE SAME AS LOCATION*/
.location,
.contact--page{
    width:20rem;
    height: 7rem;
    background-color: black;
    color: black;
    position: absolute;
    top:10rem;
    right:40%;
}

.location>h1{
    font-weight: bold;
    font-size: 60px;
    padding-left: 9px;
    text-align: center;
}
/*CONTACT page*/
.hero-contact{
    background-color:white;
    height: 26rem;
}

.contact--page>h1{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 60px;
    padding-left: 9px;
    text-align: center;
}

.page--container--2,
.contact--background{
    width: 100%;
}
/*FORM CONTACT*/
.contact--background{
text-align: center;
width:100%;
}

.form--contact{
    width:30rem;
    min-height: 18rem;
    position: relative;
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: inline-block;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom:1px solid gray;
    border-left: 1px solid gray;
    border-radius: 2rem;
    box-shadow: 5px 10px 8px 8px #888888

   
}
.form--items{   
    width:80%;
    height: 2rem;
    margin-top: 1rem;
}
textarea{
    resize: none;
    width: 80%;
    height: 3rem;
    margin-left: 5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 918px) {

.contact--page{
    right: 10%;
}
.form--contact{
    width:20rem;
}
textarea{
    margin-left:3rem;
}






}




/*UTILITY CLASS*/
.brown-text{
    color: #8a6813;

}
.margin20{
    margin-top: 20px;
}
.marginb10{
    margin-bottom: 10px;
}
.bold{
    font-weight: bold;
}
